@import "./bootstrap.scss";

$ffpp-bg-deep-dark: $black;
$ffpp-bg-dark: #303030;
$ffpp-bg-hover-dark: #525252;
$ffpp-highlight-dark: #ffd017;
$ffpp-highlight-alt-dark: #b371ff;
$ffp-highlight-3char-dark: #fc0;
$ffpp-bg-sidebar-dark: #212121;
$ffpp-bg-modal-dark: #141414;
$ffpp-color-dark: #ffffff;
$ffpp-cadbury: #7d0dfd;
$ffpp-button-dark: #323232;
$ffpp-disabled: #888888;

nav {
    background-color: $ffpp-bg-deep-dark;
    max-height: 60px;
}

body {
    background-color: $ffpp-bg-dark;
    color: $ffpp-color-dark;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: $ffpp-bg-sidebar-dark;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

#sidebar-nav {
    width: 250px;
}

.sidebar-button {
    background-color: $ffpp-bg-sidebar-dark;

    &:active,&:focus {
        background-color: $ffpp-highlight-dark !important;
        color: $ffpp-bg-deep-dark !important;
        outline: none;
        i {
            color: $ffpp-bg-deep-dark !important;
        }
    }
    &:hover{
        background-color: $ffpp-bg-hover-dark;
        border-color: $ffpp-bg-deep-dark;
    }
    &:not(:hover) {
        background-color: $ffpp-bg-sidebar-dark;
        border-color: $ffpp-bg-deep-dark;
    }
}

.sidebar-label {
font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
font-size: 12px;
}

.sidebar-accordian-item {
    color: $ffpp-color-dark !important;
    background-color: $ffpp-bg-sidebar-dark !important;
    border: none;
}

.sidebar-accordian-button {
    color: $ffpp-color-dark !important;
    background-color: $ffpp-bg-sidebar-dark !important;
    border: none !important;
    border-radius: 0% !important;
    padding: 10px 20px !important;

    &.accordion-button.collapsed::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    }
    
    &.accordion-button:not(.collapsed)::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fc0'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        transform: rotate(-180deg)
    }

    &:hover{
        background-color: $ffpp-bg-hover-dark !important;
        border-color: $ffpp-bg-deep-dark;
    }
}

.sidebar-accordion-body {
    &.accordion-body {
        padding: 6px 0px !important;
    }
}
  
.openbtn {
    font-size: 20px;
    cursor: pointer;
    background-color: #111;
    color: white;
    padding: 10px 15px;
    border: none;
}
  
.openbtn:hover {
    background-color: #444;
}
  
#main {
    transition: margin-left .5s;
    padding: 16px;
}

.max-width-365 {
    max-width: 360px;
}

.panel-section-dark {
    border: 1px solid $ffpp-bg-dark;
}

.toggle-button-active {
    background-color: $ffpp-highlight-dark !important;
    color: $ffpp-bg-deep-dark !important;
    outline: none;
}

.general-button {
    background-color: $ffpp-button-dark;
    border-color: $ffpp-bg-deep-dark;
    &:active,&:focus {
        background-color: $ffpp-highlight-dark !important;
        color: $ffpp-bg-deep-dark !important;
        outline: none;
    }
    &:hover{
        background-color: $ffpp-bg-hover-dark;
        border-color: $ffpp-bg-deep-dark;
    }
    &:not(:hover) {
        background-color: $ffpp-button-dark;
        border-color: $ffpp-bg-deep-dark;
    }
}

.signout-button {
    border-color: $ffpp-bg-deep-dark !important;
    &:active,&:focus {
        border-color: $ffpp-bg-deep-dark !important;
        outline: none;
    }
    &:hover{
        border-color: $ffpp-bg-deep-dark;
    }
    &:not(:hover) {
        border-color: $ffpp-bg-deep-dark;
    }
}

.droplist-back-dark
{
    @extend .modal-bg-dark;
}
.user-profile-button {
    border-radius: 50%;
    width: 35px;
    height: 35px;
    background-color: $ffpp-bg-deep-dark;
    border: none;
    text-align: center;
    &:hover,&:not(:hover) {
        background-color: $ffpp-bg-deep-dark;
        border: none;
    }
}

.user-profile-panel {
    min-width: 250px;
    max-width: 375px;
}

.icon-highlight-dark {
    color: $ffpp-highlight-dark;
}

.no-border-radius {
    border-radius: 0rem;
}

.defy-justify-right {
    margin-left: auto;
}

.onclick-highlight {
    &:active {
        background-color: $ffpp-highlight-dark !important;
        color: $ffpp-bg-deep-dark;
        outline: none;
    }
}

.window-max75-scroll {
    max-height: 75vh;
    overflow-y: scroll !important;
  }

.modal-bg-dark {
    background-color: $ffpp-bg-modal-dark !important;
}

.color-dark {
    color: $ffpp-color-dark;
}

.bg-border-dark {
    border-color: $ffpp-bg-deep-dark !important;
    background-color: $ffpp-bg-deep-dark !important;
}

.btn-switcher {
    @extend .bg-border-dark;
    color: $ffpp-color-dark;
    &:hover,&:not(:hover) {
        @extend .bg-border-dark;
    }
    &:disabled
    {
        color: $ffpp-disabled;
    }
}

.nav-mascott {
    width: 30px;
    height: 30px;
}

#header {
    height: 120px;
}